### DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_DATABASE=real-time-chat
POSTGRES_HOST=localhost
POSTGRES_PORT=5431
DB_ENTITIES=entity/*.js
DB_MIGRATIONS=dist/migrations/*.js
DB_MIGRATIONS_RUN=true

### JWT
JWT_ACCESS_SECRET= 'jwt_secret'
JWT_ACCESS_EXPIRE=30m
JWT_REFRESH_SECRET='jwt_secret'
JWT_REFRESH_EXPIRE=7d

### REDIS
REDIS_PASSWORD=redis_password